[2015-02-12 04:56] vanbelle opened #1 "StoryBoard"
https://docs.google.com/a/ualberta.ca/presentation/d/1dprraJnOzSoNxau2TFjbsP5r-ipsdjT7sR1SO7at7Hw/edit#slide=id.g626c2d7eb_053

So i changed the formatting so that everything was consistent with what we discussed yesterday, however when going over the requirements again i realized there were a couple things we had missed (ie: things that had to be displayed in the list) and a couple other things t

[2015-02-12 18:07] vanbelle opened #2 "Use Case formatting"
i found a good use case template online, that seems to match fairly closely to what we have already been doing which is good! however i do agree with Jim's point about organizing it better and having better formatting.  so could we agree that feature names get 3 #s, use cases within get 5 #s, use case ids are determined by their use case names just like Jim did, and steps/exceptions are numbered a

[2015-02-12 23:45] vanbelle opened #3 "User Stories / Test Cases"
US03.01.01 updated 2015-02-09
As a claimant, I want to give an expense claim one zero or more alphanumeric tags, so that claims can be organized by me into groups.

US03.02.01
As a claimant, I want to manage my personal use of tags by listing the available tags, adding a tag, renaming a tag, and deleting a tag.

US03.03.01
As a claimant, I want to filter the list of expense claims by tags, to show

[2015-02-12 23:46] vanbelle opened #4 "Expense Claims / Overall"
US01.01.01
As a claimant, I want make an expense claim that records my name, a starting date of travel, and an ending date of travel.

US01.02.01
As a claimant, I want an expense claim to record one or more destinations of travel and an associated reason for travel to each destination.

US01.03.01
As a claimant, I want to view an expense claim and its details.

US01.04.01
As a claimant, I want to

[2015-02-12 23:48] vanbelle opened #5 "Expense Claims / Listing"
US02.01.01
As a claimant, I want to list all my expense claims, showing for each claim: the starting date of travel, the destination(s) of travel, the claim status, tags, and total currency amounts.

US02.02.01
As a claimant, I want the list of expense claims to be sorted by starting date of travel, in order from most recent to oldest, so that ongoing or recent travel expenses are quickly accessib

[2015-02-12 23:48] vanbelle opened #6 "Expense Items / Overall"
US04.01.01
As a claimant, I want to make one or more expense items for an expense claim, each of which has a date the expense was incurred, a category, a textual description, amount spent, and unit of currency.

US04.02.01
As a claimant, I want the category for an expense item to be one of air fare, ground transport, vehicle rental, private automobile, fuel, parking, registration, accommodation, m

[2015-02-12 23:49] vanbelle opened #7 "Expense Items / Receipt"
US06.01.01
As a claimant, I want to optionally take a single photograph of a receipt and attach the photograph to an editable expense item, so that there is supporting documentation for the expense item in case the physical receipt is lost.

US06.02.01
As a claimant, I want to view any attached photographic receipt for an expense item.

US06.03.01
As a claimant, I want to delete any attached photo

[2015-02-12 23:50] vanbelle opened #8 "Expense Claims / Statuses"
Expense Claims / Statuses

US07.01.01
As a claimant, I want to submit an expense claim for approval, denoting the claim status as submitted, with no further changes allowed by me to the claim information (except the tags).

US07.02.01
As a claimant, I want a visual warning when trying to submit an expense claim when there are fields with missing values or there are any incompleteness indicators on

[2015-02-12 23:50] vanbelle opened #9 "Expense Claims / Approval"
- [x] US08.01.01
As an approver, I want to view a list of all the expense claims that were submitted for approval, which have their claim status as submitted, showing for each claim: the claimant name, the starting date of travel, the destination(s) of travel, the claim status, total currency amounts, and any approver name.

- [x] US08.02.01
As an approver, I want the list of submitted expense cla

[2015-02-13 03:32] LeahGabrielle commented on #6
I've put anything under this list in the wiki under Expense Items / Overall.

[2015-02-13 10:36] qsjiang opened #10 "Wiki Image Holder [DO NOT MODIFY]"
# Do not modify this issue

### This issue is used to store all the images for story boards due to Github's limitation (Wiki doesn't support image upload).

![storyboard](https://cloud.githubusercontent.com/assets/6367081/6185965/4c55f926-b331-11e4-935f-37de25e1b900.png)
![storyboard 1](https://cloud.githubusercontent.com/assets/6367081/6185968/4c591d90-b331-11e4-8dea-e05434c0ac6e.png)
![storyboar

[2015-02-13 12:04] qsjiang opened #11 "[Critical] Fix any compilation errors before pushing to the repo"
Hey guys,

Make sure to add all the necessary classes/layouts for your jUnit tests to compile.
Otherwise your teammates won't even be able to run their tests without deleting yours first.

![1e309eac-18a7-4a10-8c8b-211cd80ec927](https://cloud.githubusercontent.com/assets/6367081/6186791/8d35dc9a-b33b-11e4-9931-c770a513a9fd.png)

[2015-02-13 13:54] qsjiang commented on #7
Completed inside the following commits:

6ac5d4c7bf5abe49274e9d3f1f069cbf828f10ec
113009e3d2f711362dbd8bfe9dc836431728179e
1e95553dbab8880bdfe587cc75979eccfe17f91d
38636e17fc9cd59be54263cc55c5906727bbb682
11887a3877d104ea85c25e2097f2161c66fc6302
967500daf4c8eb74971736dbaeb9f4f5c1f06ebd
8552af6e238a8f7dd5b62c5dc6a060d355a7ca9d
cfb36eed7585ddda242a471ab98b2749055f5fb0
0bd343171491870ad97ca1ed1ee7d92

[2015-02-13 13:54] #7 closed

[2015-02-13 18:09] #10 closed

[2015-02-13 18:57] #1 closed

[2015-02-13 22:16] megsum commented on #9
Do 	//US02.02.01 - list of expense claims to be sorted by starting date of travel, in order from most recent to oldest in ClaimListTests

[2015-02-13 22:20] megsum opened #12 "Use Case 09.01.01 (Work offline)"
Hey everyone,

I have no idea how to make this test case work and have a few others to do still. (Test case located in ClaimTests.java)  and was wondering if anyone had some spare time and could attempt it.

[2015-02-13 22:59] #6 closed

[2015-02-14 00:56] LeahGabrielle opened #13 "UI Testing"
So far all the tests work, except any that have to do with the UI and I'm not sure how to fix it/what to change. Does anyone know how to do this or mind fixing them?

[2015-02-14 00:59] #13 closed

[2015-02-14 01:04] #9 closed

[2015-02-14 01:44] qsjiang opened #14 "Most of your tests are supposed to fail at this stage"
Hey guys,

In case your are confused with the test cases.

At this stage (end of project 2), **your tests are supposed to fail** because the activity/model classes those tests are testing are just placeholders and don't really do anything.

If even a placeholder can pass your tests then that means your tests are not really testing anything. So please make sure your current tests fails.

There migh

[2015-02-14 05:43] Pengwin-man commented on #11
yeah i get this problem too. please make sure everything required for the code to run is included so we can edit our test cases and make sure they fail. i cant test anything like this.

[2015-02-14 05:44] Pengwin-man commented on #3
This issue has been resolved. Test cases were pushed 2 minutes ago. I am closing this issue.

[2015-02-14 05:44] #3 closed

[2015-02-14 05:46] vanbelle commented on #11
i just commented out the tests that werent mine, so as not to mess up what anybody else was working on, the tests run that way. you can always try that.

[2015-02-14 05:51] megsum commented on #11
I am almost done fixing it so there are no errors! 10 minutes!

[2015-02-14 05:56] megsum commented on #11
Never mind they arn't my errors and somebody else may be working on them :/

[2015-02-14 05:57] vanbelle opened #15 "Peer review!!"
don't forget to fill out the peer review!!

[2015-02-14 06:10] megsum commented on #11
Okay so it says there are no more errors on mine, but the Android.XML file is missing apparently. Does anyone know how to fix that?

[2015-02-14 06:42] qsjiang commented on #11
Hi Megan,

Have you resolved the problem yet?
The Android.XML is not missing inside the repo, maybe its accidentally deleted inside your local copy?
If that is the case, save all your un-staged changes and try to clone a fresh repo, see if that helps.

Jim

[2015-02-14 07:07] qsjiang commented on #11
Although the Android.XML is not missing, but there was an error inside the values-14/styles.xml file.

After some investigation, and it looks like some how the project target android version is set to 3.0 api level 11 which causes the level 14 styles.xml not be able to load the theme it needs.

After setting the target api level to 17 (Android 4.2 the version used on the lab machine) the bug is re

[2015-02-19 05:38] #2 closed

[2015-02-19 18:03] vanbelle opened #16 "UML"
Document your initial object-oriented analysis and design using a UML class diagram (or diagrams), focusing on the most important anticipated classes, interfaces, and relationships. Include detail on key attributes and methods. Include notes on the use of design patterns among the classes. Add notes if the purpose of a class or interface is likely not clear to an outsider. The diagram(s) may be re

[2015-02-19 18:08] vanbelle commented on #16
A list of the classes currently implemented in our code that I think needs to be in the UML:
User List
User
Claim list
Claim
Expense List
Expense Item
Amt - Currency
Any others???

[2015-02-19 18:27] vanbelle opened #17 "Addressing TA feedback"
![use case](https://cloud.githubusercontent.com/assets/9437242/6273268/38756d7a-b82b-11e4-8c98-f628ce4709fc.png)
TA's Feedback with bullet points to make sure we get it all
- [x] US03.01.01: System should show the list of available tags, so that the user can see if he/she can select one from that list. - Sarah
- [x] US03.03.01: Here the input must be in form of checkbox or something similar, so th

[2015-02-19 19:43] vanbelle commented on #17
https://docs.google.com/a/ualberta.ca/presentation/d/1dprraJnOzSoNxau2TFjbsP5r-ipsdjT7sR1SO7at7Hw/edit#slide=id.g7833ce8c8_032

I added all the mockup details to the first 9 slides of our original storyboard slides.

[2015-02-19 20:03] vanbelle commented on #17
Add your test cases to Use Cases in the wiki
- [ ] US02.01.01
- [ ] US02.02.01
- [ ] US03.01.01 updated 2015-02-09
- [ ] US03.02.01
- [ ] US03.03.01
- [ ] US04.01.01
- [ ] US04.02.01
- [ ] US04.03.01
- [ ] US04.04.01
- [ ] US04.05.01
- [ ] US04.06.01
- [ ] US04.07.01
- [ ] US04.08.01
- [ ] US05.01.01
- [ ] US06.01.01
- [ ] US06.02.01
- [ ] US06.03.01
- [ ] US06.04.01
- [ ] US07.01.01
- [ ] US07.02

[2015-02-19 20:27] vanbelle commented on #17
Change the storyboard so that each slide is a US.
- [ ] US01.01.01
- [ ] US01.02.01
- [ ] US01.03.01
- [ ] US01.04.01
- [ ] US01.05.01
- [ ] US01.06.01
- [ ] US02.01.01
- [ ] US02.02.01
- [ ] US03.01.01 updated 2015-02-09
- [ ] US03.02.01
- [ ] US03.03.01
- [ ] US04.01.01
- [ ] US04.02.01
- [ ] US04.03.01
- [ ] US04.04.01
- [ ] US04.05.01
- [ ] US04.06.01
- [ ] US04.07.01
- [ ] US04.08.01
- [ ] US

[2015-02-21 23:30] qsjiang commented on #17
implemented all the feedbacks regarding US06.0x.0x

[2015-02-21 23:37] qsjiang commented on #16
FYI. I will be working on user list and user.
The URML diagram will be created using DIA, and I will upload the dia files to the google drive one its finished. (and image to the wiki)

[2015-02-22 00:06] qsjiang opened #18 "Add your name the codes you have worked on"
Hey guys,

In order to communicate better, make sure to add your name to the codes you have been working on.

If you modified a code add your name as well.

Jim

[2015-02-22 00:08] qsjiang commented on #18
BTW who created User class and UserList class?

There are some modifications I need to make, but I would like to consult the original author first.

[2015-02-22 04:34] vanbelle commented on #18
I made them, but i did them pretty quickly so changes should be fine.

[2015-02-22 06:51] qsjiang commented on #18
Hi @vanbelle

Just a quick question before I make any changes

Whats is your original intention for these two private variables inside the user class?

	private ClaimList toClaim;
	private ClaimList toApprove;

Thanks

Jim

[2015-02-22 06:56] qsjiang commented on #16
Since all the models inside an UML diagram are closely coupled, all the models above need to be connected inside one single UML diagram.

In order for use to do this we need to use the same software, and copy paste them onto the same file.

So make sure to use DIA, so we can merge the diagram later.

[2015-02-22 07:15] qsjiang opened #19 "[Merge UML] Make sure to use DIA when making UML diagrams"
I mentioned this inside the UML issue, but I put it here just to make sure everyone can see it.

Since all the models inside an UML diagram are closely coupled, they need to be placed onto one single diagram if we want to draw connections between them.

The easiest way to merge all diagrams is to draw our models using the same software and later copy paste them onto one single diagram.

So make su

[2015-02-22 14:49] vanbelle commented on #18
its so that every user can have a list of claims  that they have made themselves and so that they have a second claim list containing any claims they have to approve. Since these lists will not be displayed together i thought it would make sense to have 2 separate lists for them.

[2015-02-22 19:50] Pengwin-man commented on #16
why don't we just use the built-in eclipse extension to make the diagram? it will do it for us and all we have to worry about is formatting it. i think it will be better. I can do it in 30 sec on my computer. I think it is better than having all different diagrams to merge. if we do it with eclipse, we can do it on Tuesday at our meeting( I will bring my laptop) and I can show you how to do it. we

[2015-02-22 19:52] Pengwin-man commented on #18
Did you mean ArrayList? Because what that is doing is using the Class ClaimList with all its claims and assigning it to two variables which will be used to instantiate the class later.

I think what you wanted to do is create an arrayList and when you click submit, it will no longer be in the owner list, but will be placed in the approve list.  Am I misunderstanding?

[2015-02-22 19:53] Pengwin-man commented on #19
I think we should just use 1 version made on tuesday together.  This way there is no confusion. we can use eclipse add-on to do that, and it wil take us 30 min tops to make and edit the entire thing.

[2015-02-22 20:44] qsjiang commented on #19
@Pengwin-man
The assignment is due on Monday. we won't have time to wait till Tuesday.

Right now the tool everyone is familiar with is DIA, maybe for the future project you can show us the eclipse UML feature.

[2015-02-22 20:46] Pengwin-man commented on #19
Oh. right. i must have gotten the dates mixed up. you can still do it with Eclipse. it is still faster. then all we have to do is decide what stays.  We dont need everyone to make a specific UML. since we have the classes we need already, I can just make one and upload it to git, and then you can make all the cahnges you want to it, removing any classes that are unnecessary and adding stuff that i

[2015-02-22 20:54] qsjiang commented on #18
@vanbelle
I see.
Here is what I think, let me know if you agree or not.

1.  Claims are not submitted to a specific approver, so instead of having a ClaimList inside each user, there should only be one ClaimList through out the program. So both "private ClaimList toClaim" and "private ClaimList toApprove" should be removed.

More info See this eclass Discussion: https://eclass.srv.ualberta.ca/mod/

[2015-02-22 21:02] qsjiang commented on #19
@Pengwin-man

The problem with eclipse is it automatically generates the UML according to the current model classes(correct me if i am wrong), but right now most of the model classes are just placeholders with setters and getters. Some of the models are just simply wrong.

In the end you would end up throwing away most of the auto generated UML

and DIA is here http://dia-installer.de/    I downlo

[2015-02-22 21:22] qsjiang commented on #19
@Pengwin-man
And most importantly, I personally have never touch eclipse UML plugin before, and have not clue how to use it. I am pretty sure most of the team would feel the same way.

[2015-02-22 21:24] Pengwin-man commented on #19
ill work on some classes and see what we can do. erm. yeah. ill email you what I have and you can put everything together later then.

[2015-02-22 21:27] qsjiang commented on #19
@Pengwin-man  The thing is, most of the team member me included probably have never used eclipse UML plugin before.

I was hoping you can give us a tutorial during a sit down meeting before we start using it. but right now we don't have the time for a sit down meeting.

[2015-02-22 21:36] Pengwin-man commented on #16
i will do Claim and ClaimList then.

Make sure we send everything to Jim so he can put everything together afterwards

[2015-02-22 21:43] qsjiang commented on #16
My email: qsjiang@ualberta.ca

[2015-02-22 21:49] Pengwin-man opened #20 "Claim ExpenseList"
Why did you create a class called ExpenseList and TotalList?  Why not just create the lists in the Claim Class?  I mean, instead of doing

private ExpenseList expenseItems

since we have an expense class, why not do

private ArrayList<Expense> expenseItems;

then initialize it.  there are less initialized classes floating around and we do not need to worry about anything else once we are in the cl

[2015-02-22 22:03] Pengwin-man commented on #19
like I said. i will use DIA for now since we are short on time.  I will email you my file and you can merge it with yours.

[2015-02-22 22:04] Pengwin-man commented on #16
make sure we are not adding any unnecessary getters and setters in the UML. it should only include add/remove/boolean methods. otherwise it will get really cluttered

[2015-02-22 23:27] megsum commented on #16
Should we worry about listeners in the UML?

[2015-02-22 23:28] LeahGabrielle commented on #16
Uh, is there anything I can do with the UML?

[2015-02-22 23:34] vanbelle commented on #16
Could you maybe do the storyboard? That would be useful.

[2015-02-22 23:38] vanbelle commented on #18
That sounds fine to me, i just made them as an idea when i was writing up the test cases for the approver. Do you think then that we could implement in ClaimList a function like getApprover List(ApproverName), which finds the sublist we want to display? Would this be better?

[2015-02-22 23:40] LeahGabrielle commented on #16
yep. I can work on that.

[2015-02-22 23:43] vanbelle commented on #20
I did this because when I tried to implement what you suggested in my assignment 1, I had two problems with it. The first was that I had a lot of trouble getting the lists to save properly when inside the claim, the second problem I had was that my Claim class was HUGE and I could never find any of my functions back when I needed to edit them. However, if as a group we think your described method

[2015-02-23 00:43] vanbelle commented on #16
When I was rereading the USs about tags it seemed like the list of tags should be independent of each individual claim, so that when assigning tags to a claim they are just chosen from a previously created list of tags.To fit this model I added a button on the ClaimList page so that the user could add/remove tags from a tag list. This seems to fit better with US03.02. What do you think?

[2015-02-23 00:53] Pengwin-man commented on #16
Just make a list as an attribute in the claim class.  That would solve all
the problems of not sharing tags
On Feb 22, 2015 5:43 PM, "vanbelle" <notifications@github.com> wrote:

[2015-02-23 00:54] vanbelle opened #21 "tag test case missing"
US03.03.01 - MISSING
As a claimant, I want to filter the list of expense claims by tags, to show only those claims that have at least one tag matching any of a given set of one or more filter tags.

There is also some TA feedback regarding your tag Use Cases that hasn't been addressed. I made a suggestion in the UML issue(#16) about how I would handle the tags if that helps.

Then please add the t

[2015-02-23 00:57] vanbelle commented on #16
But that wouldn't work in the case where a tag is created but not associated with a claim

[2015-02-23 01:18] qsjiang commented on #18
@vanbelle  yes that would be better.

[2015-02-23 01:30] vanbelle opened #22 "Missing Test Cases"
the test cases for US01.06.01 and US09.01.01 are blank so they need to be created and added to the Use Case file.

[2015-02-23 02:02] Pengwin-man commented on #16
Why I mean is add a tag to the claim taglist every time you associate one
with it. Other than that it stays in 'storage'  in the taglist class
On Feb 22, 2015 5:57 PM, "vanbelle" <notifications@github.com> wrote:

[2015-02-23 02:02] Pengwin-man commented on #21
I'll get on it S soon as I get off work
On Feb 22, 2015 5:54 PM, "vanbelle" <notifications@github.com> wrote:

[2015-02-23 04:09] vanbelle commented on #16
ok, that makes more sense. In that case though we will need to add a class Tag List to the UML.

[2015-02-23 04:17] vanbelle commented on #21
If we have an ArrayList tagList inside of Claim and a class Taglist for all the available tags, you will need separate test cases for adding tags. One for US03.01 to make sure its associated with a claim and one for US03.02 to make sure the user can add new tags to be available to claims..

[2015-02-23 05:30] Pengwin-man commented on #21
i can edit the test case as well

[2015-02-23 05:56] Pengwin-man commented on #21
i extended the test case so that it adds to both the claim if we want to add to the claim, or the taglist if we want to only create a tag. i did not go into details. i just made 2 separate add methods each adding to its own list. i did not make any specific conditions of scenarios. i will work on those later.

for the filtering, i am just going to add everthing in a new list that matches the typed

[2015-02-23 06:26] Pengwin-man commented on #21
I added the filter test case. It is not its own test case though, and is just a few extra lines added to the existing addTag test case.  Since everything was already in place, i just added it there. I can make it a standalone case when I have more things to work with.

[2015-02-23 09:26] qsjiang commented on #10
![uml_merged](https://cloud.githubusercontent.com/assets/6367081/6325322/5a86d90a-bb03-11e4-9894-6352eebed1d2.png)

[2015-02-23 09:40] qsjiang opened #23 "UML merged and uploaded to both wiki and google drive"
UML is merged and uploaded to wiki.
https://github.com/CMPUT301W15T12/C301Project/wiki/UML-Diagram
The original DIA file can be found at
https://drive.google.com/a/ualberta.ca/?tab=mo#folders/0B-TH6Ugp3srHSjYyUDNiVldacmc

There are some problem with current UML:
- Some variables inside should be private instead of public. For example variables inside ExpenseItem Class.
- some classes are counterin

[2015-02-23 09:41] #19 closed

[2015-02-23 09:41] #18 closed

[2015-02-23 20:13] LeahGabrielle opened #24 "Storyboard upload"
![storyboard-2](https://cloud.githubusercontent.com/assets/8978512/6335915/19bec9ce-bb5c-11e4-996b-11d8282a588d.png)
![storyboard-2 1](https://cloud.githubusercontent.com/assets/8978512/6335921/29c17bc8-bb5c-11e4-9f8e-53c656f3dd3a.png)
![storyboard-2 2](https://cloud.githubusercontent.com/assets/8978512/6335922/2c3cd820-bb5c-11e4-899a-f46a51a9e605.png)
![storyboard-2 3](https://cloud.githubusercon

[2015-02-23 20:31] #24 closed

[2015-02-23 20:36] vanbelle commented on #24
I feel like we don't need to include the Login/ Create Account page and everything after that of the original storyboard.

Also this is what Abram said about User roles in response to a student asking "Is every user both a claimant and an approver? Or can a user be just an approver/ just a claimant?"
Abram: "A user can make claims AND/OR approve claims. "

So I would either add the page that lets

[2015-02-23 20:37] LeahGabrielle commented on #17
I've done the storyboard and added it to the wiki as well as put up the mockup with Sarah's changes.

[2015-02-23 20:40] LeahGabrielle commented on #24
I understood his response as a user can be a claimant and a approver, only a claimant, or only an approver.
I am assuming that the user has already made an account and is only a claimant. I will add that in.
I've kept the stuff from the original storyboard for us as future reference.

[2015-02-23 20:45] vanbelle commented on #24
But where does the User specify that he is only a Claimant, if that is part of the account creation step then thats fine and doesnt need to be shown in the storyboard, however it would need to be shown in the mockup of the create account page in that case. So we need to pick one or the other.

[2015-02-23 20:51] vanbelle commented on #21
for the filter test case just copy it again into the use cases and delete the line(s) pertaining to adding or put in a comment telling the TA that is where the test is. also the test cases (renaming/deleting) are still not posted to your second use case. please do those ASAP.

each use case should have a test case, or a comment of some kind acknowledging why there isnt a test case.

[2015-02-23 21:08] LeahGabrielle commented on #24
![storyboard 32](https://cloud.githubusercontent.com/assets/8978512/6337194/7654db20-bb65-11e4-92f5-d606d8309ace.png)
![storyboard 33](https://cloud.githubusercontent.com/assets/8978512/6337195/77ba2088-bb65-11e4-9e35-14f40077873a.png)

[2015-02-23 22:01] Pengwin-man commented on #21
I'll do it right away.  I am pretty sure I posted it yesterday.  I will do
it again to make sure
On Feb 23, 2015 1:51 PM, "vanbelle" <notifications@github.com> wrote:

[2015-02-24 06:51] qsjiang opened #25 "Are we meeting this week Tuesday 5pm?"
Are we meeting this week Tuesday 5pm?

[2015-02-24 15:15] vanbelle commented on #25
Yes we are

[2015-02-24 19:39] #15 closed

[2015-02-24 19:40] #4 closed

[2015-02-24 19:40] #5 closed

[2015-02-24 22:23] #23 closed

[2015-02-24 22:23] #14 closed

[2015-02-24 22:23] #11 closed

[2015-02-25 03:11] #16 closed

[2015-02-25 03:11] #21 closed

[2015-02-25 18:00] #25 closed

[2015-02-25 18:44] #8 closed

[2015-02-25 18:44] #12 closed

[2015-02-25 18:45] vanbelle opened #26 "Fix UML"
![image1](https://cloud.githubusercontent.com/assets/9437242/6385209/27528db8-bd24-11e4-8024-2bd611ab9e5f.JPG)

Here's the photo from our meeting in case anyone wants to change the UML and reupload it

[2015-02-25 19:52] vanbelle commented on #26
I just did a merge on the files we wanted to get rid of so that the classes left are the ones we chose in our UML design.

[2015-02-25 20:02] vanbelle opened #27 "XMLs"
- [x] Login - Sarah
- [x] CreateAccount - Sarah
- [x] ChooseAccount - Sarah
- [x] ClaimantClaimList - Megan
- [x] ApproverClaimList - Sarah
- [x] ClaimantClaimPage - Megan
- [x] ApproverClaimPage - Leah
- [x] AddClaim - Sarah?
- [x] EmailClaim - Sarah
- [x] SeeComments - Sarah
- [x] AddComments - Sarah
- [x] ClaimantItemPage - Sarah?
- [x] ApproverItemPage - Leah
- [x] AddItem - Sarah
- [x] SeePic

[2015-02-25 20:08] vanbelle opened #28 "Login Activity"
- [x] Create New Account button connects to create new account page
- [x] Login button authenticates user name (how to get userlist?)
- [x] toasts if username is wrong
- [x] otherwise it brings the user to the choose claimlist/approverlist page
- [x] passes along Username

[2015-02-25 20:09] vanbelle opened #29 "Create Account Activity"
- [x] Done button (how to get userlist?)
    - [x] checks that no users with that user name exist toasts if there is
    - [x] otherwise brings user to the claimlist page

[2015-02-25 20:12] vanbelle opened #30 "ClaimantClaimList Activity"
- [x] when the search tag box is clicked a menu appears with the taglist for the User to search by
- [x] when a claim is clicked it brings the user to the claim page, passing along which claim was clicked
- [x] add claim brings the user to the add claim page
    - passes along the username so user can be searched for added to claim as claimant

[2015-02-25 20:14] vanbelle opened #31 "ApproverClaimList Activity"
- [x] when a claim is clicked it brings the user to the claim page
- [x] passing along which claim was clicked
- [x] has a listener/adapter for changes

[2015-02-25 20:28] vanbelle opened #32 "ClaimantClaimPage Activity"
- [x] sets text field for Name - Status
- [x] sets text field for start date - end date
- [x] sets description field
- [x] puts destinations in a String text block, adds to text field
- [x] computes total, puts total in String format, loads it into the list
- [x] puts each expense item in String format before passing it along the list adapter
- [x] when an item is clicked it brings the user to the

[2015-02-25 20:31] vanbelle opened #33 "ApproverClaimPage Activity"
- [x] sets text field for Name - Status
- [x] sets text field for start date - end date
- [x] sets description field
- [x] puts destinations in a String text block, adds to text field
- [x] computes total, puts total in String format, loads it into the list
- [x] puts each expense item in String format before passing it along the list adapter
- [x] add comment button takes user to add comments pag

[2015-02-25 20:36] vanbelle opened #34 "Add Claim Activity + Edit Claim Activity"
- [x] clicking the start date field opens up the date spinner - Sarah
- [x] clicking the end date field opens up the date spinner - Sarah
- [x] Tags brings up a menu of checkable tags
- [x] Destinations brings up  a menu where destinations can be added/removed

-----------------------------Just for Add Claim Activity----------------------------------------
- [x] done button creates and adds new cl

[2015-02-25 20:39] vanbelle opened #35 "Email Claim Activity"
- [x] accesses the correct claim
- [x] converts claim info into a string
- [x] Send button sends the email and goes back to the claim page
- [x] returns to claim page

[2015-02-25 20:40] vanbelle opened #36 "See Comments Activity"
- [x] loads the approvers list into the text field on the bottom of the page
- [x] loads the comments into the text field at the top of the page
- [x] done button returns the user to claim page

[2015-02-25 20:41] vanbelle opened #37 "Add Comments Activity"
- [x] Loads Pre-existing comments into the text field (if the exist)
- [x] done button adds the comments to the claim and goes back to Claim page

[2015-02-25 20:45] vanbelle opened #38 "Claimant Item Page Activity"
- [x] if flag checkbox is clicked sets the item to flagged if it wasnt and not flagged if it was
- [x] sets text field for Name
- [x] sets text field for date
- [x] sets description field
- [x] sets category field
- [x] set Amount Currency Field
- [x] if picture exists adds it to the button
- [x] if photo button is clicked and photo exits goes to see photo page
    - otherwise toasts that no photo

[2015-02-25 20:46] vanbelle opened #39 "Approver Item Page Activity"
- [x] sets text field for Name
- [x] sets text field for date
- [x] sets description field
- [x] sets category field
- [x] set Amount Currency Field
- [x] if picture exists adds it to the button
- [x] if photo button is clicked and photo exits goes to see photo page
    - otherwise toasts that no photo exist

[2015-02-25 20:47] vanbelle opened #40 "SeePicture Activity"
- [x] loads picture into the photo field
- [x] done button returns user to item page

[2015-02-25 20:51] vanbelle opened #41 "AddItem + Edit Item Activities"
- [x] clicking the date field opens up the date spinner - Sarah
New
- [x] clicking the currency field opens up currency menu
- [x] clicking the category field opens up the category menu
- [x] clicking the add photo taks the user to the built in camera app.
Edit
- [x] clicking the currency field opens up currency menu
- [x] clicking the category field opens up the category menu
- [x] clicking the a

[2015-02-25 21:08] vanbelle commented on #27
Can any one tell me what the tag activity class is for? Who created it?

[2015-02-26 02:47] vanbelle commented on #26
an updated png and dia file were added to https://drive.google.com/a/ualberta.ca/?tab=mo#folders/0B-TH6Ugp3srHSjYyUDNiVldacmc.

[2015-02-26 02:48] #17 closed

[2015-02-26 02:48] #20 closed

[2015-02-26 19:11] vanbelle opened #42 "Test Cases + Data Model/Controller Implementation"
- [ ] Claim Class - Jim
- [ ] Expense Class - Raymond
- [ ] ExpenseList Class - Raymond
- [ ] Destination Class  - Megan
- [ ] User Class - Omar
- [ ] UserList Class - Omar
- [ ] ClaimList Data Model - Jim
- [ ] ClaimList Controller - Jim
- [ ] ClaimList Manager - Jim
- [ ] User List Controller - Omar
- [ ] User List Manager - Omar

[2015-03-02 18:58] vanbelle commented on #26
TA Comments:
1) Concept of MVC is not clear. Need to make clear distinctions between Model, View and Controller classes.
2) No comments were used anywhere in the diagram. You don't need comments for all the classes, but need for the confusing ones.
3) Multiplicity is totally absent. Roles in association are never labeled.
4) No use of generalization. A simple example would be to create a Model cla

[2015-03-02 23:02] Pengwin-man opened #43 "Activities Folder"
Why did you make a folder for the activities?  git will not find them there and it does not allow us to pull. Please put the activities back into their original filepath. plus, that extra folder is useless.  please revert so i can pull and accees the git

[2015-03-03 17:56] #43 closed

[2015-03-03 21:16] vanbelle opened #44 "ListChooser Activity"
- [x] your claims button sends user to their ClaimantClaimList
    - passes on the user
- [x] approve claims button brings user to ApproverClaimList
    - passes on the user

[2015-03-04 19:07] vanbelle opened #45 "Claimants/approvers as users"
We talked about how all claimants in a claim need to be users and they all already were, only the approvers in the list of approvers are not, but that is fine because all we ever do with that list is add names and print the list. They dont need to be users.

[2015-03-04 21:00] vanbelle opened #46 "User List"
How are we saving the UserList? do we want to create a controller for it?

[2015-03-04 22:00] vanbelle commented on #27
Background added!

[2015-03-05 03:32] IchigoKIl commented on #42
Some suggestions/questions about ClaimList:

Instead of using getUserClaims, getFiltered and getSubmittedClaims to return a new ArrayList after every call (which could be tedious/inefficient for updating a list view) I suggest we make a generic filter method that takes in the arraylist to be modified, username, status and tags to filter, and it will clear the arraylist and add from the claims arra

[2015-03-05 19:08] vanbelle commented on #42
I think that sounds good, except that since claims are never filtered by both users/tags and status, what if we just split them in two functions? One that filters claims by user/tags and one that filters by Submitted status? Either way there is only one call and shouldnt be too bad for a listview. also The filter method would simpler.

[2015-03-05 19:40] Pengwin-man commented on #46
what do you mean by Saving the user list?

[2015-03-05 19:47] vanbelle commented on #46
For the claims list we call the controller and the controller gives us the claim list. How do I access the User List if i want to authenticate a user?

[2015-03-05 19:53] Pengwin-man commented on #46
Controller. For any data access
On Mar 5, 2015 12:47 PM, "Sarah Van Belleghem" <notifications@github.com>
wrote:

[2015-03-05 19:56] LeahGabrielle opened #47 "Checkboxes"
Has anyone used checkboxes before? I'm just a little confused about where I should be putting the checkbox function within the activity.

[2015-03-10 06:34] qsjiang commented on #42
Hey Raymond, just a head up.

I am going to take over ClaimList.java

[2015-03-10 07:07] Pengwin-man opened #48 "Tag Test Case"
Becuase we restructured the code, the tag test cases I wrote for part 2 are no longer viable.  if someone has some time to spare i would appreciate if we rewrote them based on the new layout.  I am not familiar with the new organization of claims so i Cant do much right now.  I am still working on the users.

[2015-03-10 07:10] Pengwin-man opened #49 "Users"
What is the activity in which we create users? i don't know where to link my test case to

[2015-03-10 13:38] IchigoKIl commented on #42
I have already worked on new ClaimList2, ExpenseList, and List classes and have just pushed it onto git. We can look over the implementation during the meeting today and see if there are any issues, but if not I think we should just use what is done and I'll just add any missing pieces in the next couple of days.

[2015-03-10 16:39] vanbelle commented on #49
The create account activity?

[2015-03-10 17:09] qsjiang commented on #42
There are some major issues inside the ClaimList.java.
I took a look at the new code some of those issues still exist.

I have written everything done, was planning to show you during the meeting.
//1. use this.var and ClassName.var
//Why? Can you spot what's wrong with getUserClaims?
	public class ClaimList implements List<Claim>{
		private static ArrayList<Claim> claims;
		private static ArrayLi

[2015-03-10 17:10] qsjiang commented on #42
Your effort is not going to go be wasted, I am going to build on top of your code instead of start over, but I have to take it over from here.

[2015-03-10 17:32] Pengwin-man commented on #42
Jim.  Dont take over.  If you have an issue we can talk about it during the meeting.  This is not the way to go about it.  and WHY would you use a string to find a user?  That does not even make sense.  Just wait and lets talk about it during the meeting.

[2015-03-10 17:34] qsjiang commented on #42
Omar. What I posted is not mine code. These are the problems I have seen in the current ClaimList.java

[2015-03-10 17:35] qsjiang commented on #42
ClaimList.java was assigned to me orginaly

[2015-03-10 17:37] #27 closed

[2015-03-10 17:39] IchigoKIl commented on #42
I don't believe you are looking at the right code. I pushed a new ClaimList2 which extends List2 and uses a singleton pattern.

[2015-03-10 17:40] qsjiang commented on #42
yes I saw it.  there are still some problems with the getter and setter

[2015-03-10 17:41] qsjiang commented on #42
but that doesn't matter.   the reason I need to work on the claimlist.java is simply because it is closely coupled with my code, and it makes more sense to reassigned the responsibility

[2015-03-10 17:51] #29 closed

[2015-03-10 18:03] #45 closed

[2015-03-10 18:03] #44 closed

[2015-03-10 18:03] #46 closed

[2015-03-10 18:32] #28 closed

[2015-03-12 09:15] qsjiang opened #50 "ClaimListController API - Time to update your code :P"
Hey guys,

Just pushed the first version of "ClaimListController API". Here are **two most important points** you need to know about the API.

### Stable APIs:
All the functions under **ClaimListController.java** are considered as **stable APIs**, those functions will stays the same no matter how much the data models have changed. Use them when you need to **retrieve/add/delete** claims.

### Unst

[2015-03-12 09:43] qsjiang commented on #50
Q: Hey Jim, thank you very much for breaking my code. Now what should I do.

A: You are welcome, here is what you need to do.

### AddClaimActivity.java
#### Lines 89 - 91:

		Claim claim = new Claim(name, sdate, edate,description, username);
		ClaimListController.getClaimList().addClaim(claim);
		ClaimListController.saveClaimList();

Simplely change to

		claimListController.addClaim(name, sdate,

[2015-03-12 09:46] megsum commented on #50
You're awesome! Thanks Jim, I shall do that tomorrow!

[2015-03-12 16:55] vanbelle commented on #50
This looks great, I'll update my activities right now!

[2015-03-12 17:03] vanbelle commented on #50
So when implementing these changes, almost every time I get an error saying that the function needs to be static?

[2015-03-12 17:20] vanbelle commented on #50
@LeahGabrielle , @megsum
I've implemented all these changes, so that I could run the program without errors, just continue where you left off.

[2015-03-12 18:28] vanbelle opened #51 "UserList Persistance"
The Users are getting successfully added but the controller/manager isnt saving them.

Edit: nevermind, it could just be the authenticate function that hasnt been implemented

[2015-03-12 18:54] LeahGabrielle commented on #50
Is there anything for adding an expense item to a claim? Where would that be/how should I be accessing a function for that?

[2015-03-12 19:17] vanbelle opened #52 "Use Case Completion Tracker - 20 Need to be done by Monday!"
Add your test cases to Use Cases in the wiki
- [x] US01.01.01 CMPUT301W15T12Test / ClaimTest.java /testCreatingClaim()
- [x] US01.02.01
- [x] US01.03.01
- [x] US01.04.01 CMPUT301W15T12Test / ClaimTest.java /testEditClaim()
- [x] US01.05.01 - CMPUT301W15T12Test/ClaimListControllertTest/testRemoveClaim()
- [ ] US01.06.01
- [x] US02.01.01
- [x] US02.02.01 - CMPUT301W15T12Test/ClaimListTests/testsortC

[2015-03-12 19:30] qsjiang commented on #50
Hi Leah,
They are not there at this moment. I'll add them in a few hours

[2015-03-12 22:35] megsum commented on #50
@qsjiang @Pengwin-man @IchigoKIl  Hey! I was just wondering if it would be possible to get a way in the ClaimListController to add tags for a specific claim. Thanks!

[2015-03-13 00:32] #36 closed

[2015-03-13 00:32] #37 closed

[2015-03-13 01:49] vanbelle commented on #26
@megsum @LeahGabrielle @qsjiang @Pengwin-man @IchigoKIl
I updated the activities that I worked on in the uml  stored in the drive, but didnt bother uploading it to wiki because everyone still has so many changes to make. The TAs said everything we have a class for should have something in the UML so we should really work on that this weekend.

[2015-03-13 01:49] #47 closed

[2015-03-13 02:08] qsjiang commented on #50
Hey @megsum,
Just added two new API into ClaimListController.  (Details see commit 9829814769ba309f3e6e02ef432ac57bf7aedc6e)

            public void addTagToClaim(int claimId, String tag);
            public ArrayList<String> getTagListFromClaim(int claimId)

[2015-03-13 17:09] vanbelle opened #53 "Changes to Claim"
Based on some Prof. answers on eclass, claim no longer has a list of approvers but rather a single approver of type user.

Becuase he said that only the original approver of a returned user can approve a returned claim I would like for this to be included in the filterByStatus function. Ideally when this function is called, it gets all submitted claims EXCLUDING those whose approver name does not

[2015-03-13 18:34] vanbelle opened #54 "gitignore!"
What is deleting the R file?

[2015-03-13 18:46] LeahGabrielle commented on #54
I found this when I googled about it and I think it might have to do with it deleting.
 "Make sure that anything the R. links to is not broken. Fix all errors in your XML files. If anything in the ADKs are broken, R will not regenerate."
I'm not sure how to fix it though

[2015-03-13 18:50] #54 closed

[2015-03-13 21:29] vanbelle commented on #50
Right now we are using getting a claim and then calling claim.getTotal(); for the total, however even after making an exense item it always returns an empty list. Did you make another function we are supposed to be using? Or is the expense item not saving?

[2015-03-13 21:38] qsjiang commented on #50
@vanbelle I will look into it, and let you know later tonight.

[2015-03-13 21:38] qsjiang commented on #53
@vanbelle  I will look into it.

[2015-03-13 21:39] vanbelle commented on #26
Also, all classes that have serializable/listeners implemented need to have the lollipop thing.
eg:
|-o serializable

[2015-03-13 21:41] #31 closed

[2015-03-13 23:23] vanbelle commented on #50
Another useful function would be an update function for the edit page.
i.e: claim.updateClaim(string name, startdate, enddate, description, taglist, destinationlist)
which keeps approver, claimant,id,comments etc. and uses set functions or something. might need notify listeners?

[2015-03-14 03:35] qsjiang opened #55 "Currently ExpenseItem's name under the same Claim needs to be unique, is this the behaviour we want?"
Hey guys,

Currently ExpenseItem's name under the same Claim needs to be unique.
That means you can not have two ExpenseItems with the same name inside one claim.

Is this the behaviour we want?

[2015-03-14 04:46] qsjiang commented on #53
Hi @vanbelle for the suggestion,

1. Out current implementation only allows one approver.

2 . About controller,
In the next iteration, I will come up an more elegant solution for applying multiple filters in general, but for now I would suggest just manually loop through the array and remove those claims after you get the ArrayList <Claim>.

[2015-03-14 04:55] qsjiang commented on #50
Hi @vanbelle thanks for the feedback,

There was a bug in the previous getTotal function. It has been fixed in commit 9f45947713d97e3d28744e75891f4de37437c926

There are still a few thing we need to discuss before nailing getTotal() and updateClaim() as Stable APIs.
For example, "uniqueness of expenseItem", "return object of getTotal" and a few others.

We will discuss more in the future meeting.

[2015-03-14 18:57] Pengwin-man opened #56 "**IMPORTATNT, MUST READ** Using controllers from front-end code"
Hi guys. it seems to me some of us are misunderstanding the need for controllers.

I have noticed that some of you in the front-end code writing have code similar to this:

UserlistController.getUserList().addUser();  << THIS IS ONLY FOR ME TO DO. Direct access to UserList. defeating the purpose of controllers

what you should be doing is this:

UserListController.addUser().   << this uses the con

[2015-03-14 19:02] #42 closed

[2015-03-14 19:56] vanbelle commented on #56
Sure, I only left it like that so we could have something to run in the meantime.

[2015-03-15 08:41] qsjiang commented on #52
As the TA said last Thursday, unlike previous assignment where he only looked at our test inside the wiki, this time he wants to run them himself and confirm that 50% of our tests are passing .

So after you completed your tests, please write down the file location and the testCase function name beside the checkbox, this would help the TA marking the project.

[2015-03-15 09:02] IchigoKIl commented on #53
Please change Claim to utilize ExpenseList

[2015-03-15 10:47] qsjiang commented on #53
@IchigoKIl
Will do

[2015-03-15 16:06] vanbelle commented on #52
I would've started adding these on Friday but there were still a bunch of tests with errors in them, so I couldn't check if the tests actually passed.

[2015-03-16 03:20] qsjiang commented on #53
@IchigoKIl
Hey Raymond, I saw the changes you made in expenseItem.class. You removed several functions construct strings

First let me say they are GOOD changes. I 100% AGREE with you.

but I don' think right now is a good time to break existing APIs since the due day is Monday.

I think we should leave them inside the code for now and refactor them in next iteration.

[2015-03-16 03:23] qsjiang commented on #53
@IchigoKIl  and can you explain the reason behind removing incomplete() function?

[2015-03-16 03:42] qsjiang opened #57 "Raymond please response to this. Please don't change your API the day before due day."
@IchigoKIl

Hey Raymond, I saw the changes you made in expenseItem.class. You removed several functions that construct strings.

First let me say they are GOOD changes. I 100% AGREE with you. Those functions should not be there, but I don't think right now is a good time to break existing APIs since several classes are built on top of those apis, and the due day is tomorrow.

There are many proble

[2015-03-16 03:55] IchigoKIl commented on #53
I was thinking that the controller can just as easily do the check by checking all the fields are not null.

[2015-03-16 03:56] IchigoKIl commented on #57
I left the code in there, just commented out. I will uncomment it for now since it is causing a issue

[2015-03-16 03:58] qsjiang commented on #57
@IchigoKIl  Thanks for the fast response.

Also what's the reason behind deleting the incomplete() function inside ExpenseItem class.

Can you also bring back that function as well?

[2015-03-16 03:59] IchigoKIl commented on #57
Sure

[2015-03-16 04:15] qsjiang commented on #57
@IchigoKIl  There are still a few small syntax errors inside the ExpenseItem class, could you take look?
![image](https://cloud.githubusercontent.com/assets/6367081/6660512/b3879662-cb60-11e4-826a-4c66adb005e0.png)

[2015-03-16 04:25] qsjiang commented on #53
@IchigoKIl  The current incomplete function is pretty messy, we definitely need to re-factor it, but I do think it should remain inside the expense class.

The reason being that "incomplete" is a status about the expense item. The model should be able to remember or figure out (compute on the fly) its current status without any help from the outside.

but that's just my own personal opinion, we sh

[2015-03-16 04:25] IchigoKIl commented on #57
Looking into it right now

[2015-03-16 04:31] IchigoKIl commented on #57
Should be fine now

[2015-03-16 04:36] qsjiang commented on #57
@IchigoKIl  looking good. gj

[2015-03-16 04:36] #57 closed

[2015-03-16 04:43] qsjiang opened #58 "Program crashed when creating a new user - null pointer exception"
Hi guys,

I am just playing around with the app right now, but when I try to create a new user, the program crashed with the following error

![image](https://cloud.githubusercontent.com/assets/6367081/6660708/a555a134-cb64-11e4-9fec-6a2c2db0e5f2.png)

Any idea what's causing the problem?

[2015-03-16 07:06] Pengwin-man opened #59 "Javadoc Location"
I added the Javadoc in the doc/javadoc folder. in case anyone needs it

[2015-03-16 17:29] vanbelle commented on #58
fixed

[2015-03-16 17:29] #58 closed

[2015-03-16 17:30] #56 closed

[2015-03-16 17:34] vanbelle opened #60 "Code Documentation"
"For each source code file, you should have a brief introductory comment describing its purpose or role within the application or a design pattern, as well as any currently outstanding issues. "

I added a brief (not so great) comment to everthing, but I'm not completely sure what outstanding issues we have for each class, so if everyone could add the things that still need to be done in their por

[2015-03-16 18:15] vanbelle commented on #60
Also Release Plan needs to be updated!

[2015-03-16 20:49] megsum commented on #26
![uml](https://cloud.githubusercontent.com/assets/6991742/6676186/987af748-cbeb-11e4-8ed9-3b8f4984c9ff.png)

[2015-03-16 20:50] megsum commented on #26
![uml](https://cloud.githubusercontent.com/assets/6991742/6676213/ca844000-cbeb-11e4-953b-30a1bfea558f.png)

[2015-03-18 02:56] LeahGabrielle opened #61 "Meeting notes"
![img_2456](https://cloud.githubusercontent.com/assets/8978512/6701832/b0a8c8fc-cce7-11e4-8787-c1f4b8a4082c.JPG)
 Here's what we decided everyone was doing at the meeting today and what needs to be done. So if you've forgotten what you said you would do look here!
@Pengwin-man you can decide what you would like to work on this week - maybe write some test cases or add passwords to users? Those wer

[2015-03-19 00:42] vanbelle commented on #61
I don't mind implementing the passwords while I'm busy anyway. It should only take me 10minutes.

[2015-03-19 20:23] Pengwin-man commented on #61
i can do the passwords since I am already working on users anyways
I can also finish off the user stuff and maybe work on some documentation?

[2015-03-19 20:57] vanbelle commented on #61
I already implemented the add password throughout the code, I just havent pushed it because I wanted to wait until after the demo like we talked about.

Why would we allow a user to be added without a password?
Right now we dont have anything that allows a user to change password after its created.

[2015-03-19 21:30] Pengwin-man commented on #61
well, if a user does not want a password, why force one on him?  also, the fact that you implemented it throughout the code is irrelevant to the controller... i mean, the controller and model are mine are they not?  if you implemented it elsewhere it should not matter as long as you pass the correct arguments.

as for adding a change passoword, we can always easily do that later.

[2015-03-19 21:37] Pengwin-man commented on #26
this looks so much more complicated than the one we had before. is this what they wanted?

[2015-03-20 15:57] vanbelle commented on #26
Yes, except for your empty classes. He will probably want those filled in.

[2015-03-20 19:00] vanbelle commented on #61
We can talk about it at the meeting on Tuesday. Was there something else you wanted to do until our next meeting on tuesday?

[2015-03-20 22:17] Pengwin-man opened #62 "Working on Code"
@vanbelle , WHY did you change my USER data model CODE

[2015-03-23 18:22] #34 closed

[2015-03-23 19:48] #32 closed

[2015-03-23 19:48] #33 closed

[2015-03-23 19:48] #35 closed

[2015-03-23 20:02] #48 closed

[2015-03-23 20:14] vanbelle opened #63 "Deadlines"
I know everyone is really busy with the last couple weeks of school, however for the project I think our best bet would be to finish AT LEAST 95% of the code by this time next week. That way we can spend our final week refactoring, making demo videos and everything else we need to do for part 5, and still have time to work on our other classes during the final two weeks of school.

What needs to b

[2015-03-23 20:15] #59 closed

[2015-03-23 20:15] #50 closed

[2015-03-24 17:53] #49 closed

[2015-03-24 17:54] #51 closed

[2015-03-24 22:34] megsum commented on #41
Photos Finished!!!

[2015-03-24 22:34] #41 closed

[2015-03-25 18:14] vanbelle opened #64 "Bugs in add/edit Item"
@Megan, After my pull I had several errors associated to the pictures, I commented out the lines  causing the errors with a TODO so that they are easy to find back, but so that I could still test my code.

@Leah, Also tag manager is done but I had to create a new activity because it just wasnt working with multiple dialogs so that needs to go into the UML.

[2015-03-25 19:20] vanbelle opened #65 "NEW USER STORIES"
- [x] US10.01.01 added 2015-03-23
As a claimant, I want to set my home geolocation.

- [x] US10.02.01 added 2015-03-23
As a claimant, I want to specify a geolocation assisted by my mobile device (e.g., GPS) or manually using a map.

- [x] US10.03.01 added 2015-03-23
As a claimant, I want to view any set or attached geolocation using a map.

- [x] US05.01.01 updated 2015-03-23
As a claimant, I want

[2015-03-25 20:16] megsum commented on #64
Weird. I uncommented the lines of code and still get no errors. Can I try pushing again with them uncommented?

[2015-03-25 20:42] LeahGabrielle commented on #64
Try cleaning the project and refreshing the folder in the side column thing Sarah. The photo stuff seems to be working for me.
I will remember to put it in the UML when I work on it.

[2015-03-25 21:38] vanbelle commented on #64
Sure. Maybe something is causing them, I'll check again tomorrow and post the error messages.

[2015-03-26 20:07] megsum commented on #64
It works :+1:

[2015-03-26 20:07] #64 closed

[2015-03-27 02:39] vanbelle commented on #55
I dont think it really matters

[2015-03-27 02:39] #38 closed

[2015-03-27 02:39] #39 closed

[2015-03-27 02:39] #40 closed

[2015-03-27 18:07] vanbelle opened #66 "Refactoring page in the wiki"
If you do something that counts as refactoring we need to document it, so I added a wiki page for this purpose. Just add a bullet point of what you did and next week we can format into a single paragraph.

[2015-03-27 19:04] vanbelle commented on #65
Right now, everything works so long as they only want to use their current location, remote locations still need to be implemented.

[2015-03-27 19:10] vanbelle opened #67 "Extra features"
features to add if we have time?
- [ ] logout function
     - I would add this option in every menu
     - resets the system and brings the user back to the login page

- [ ] edit user account
    - also add this feature in every menu
    - here the user could change username, password, and geolocation

Any Others?

[2015-03-27 19:11] #30 closed

[2015-03-27 19:11] vanbelle commented on #55
I changed the code so it doesnt have to be.

[2015-03-27 19:11] #55 closed

[2015-03-29 08:37] IchigoKIl opened #68 "Updated implementation of setCategory and setCurrency"
I have changed their implementation, as discussed in the last group meeting, to actually check if categories/currencies are valid. The tests US04.02.01 and US04.03.01 have been updated to utilize this change.

It appears no extra changes will be necessary to conform with this update and I have rerun the junit tests without any issues. If there are any issues please let me know.

[2015-03-31 21:16] megsum opened #69 "Bugs to fix"
Hey I thought it would be a good idea to list bugs that our app has so that we know what still needs to be fixed.
- [x] If we search by two tags that are in the same claim, that claim will appear twice
- [x] If you edit an expense and click on the photo and cancel it deletes the previous photo
- [x] Claim end date needs to be after start date
- [x] item not showing up

[2015-03-31 22:56] vanbelle commented on #69
I will fix the tags tomorrow.

[2015-03-31 23:25] LeahGabrielle commented on #69
when adding a claim, the system should tell me if my end date is less than my start date !!! This was missing.
End date must be greater or equal to the start date..

1.04.01: is it really covered.. was not working for me !!!

US02.02.01: It should be in opposite order.. most recent to oldest.. !!

I can add zero, one or more tags.. good.. but after adding them, I can't see what was added before sa

[2015-04-01 00:50] megsum opened #70 "THE MAP SHOWS"
Just wanted to let you know :P

[2015-04-01 01:19] vanbelle commented on #68
These exception don't get thrown in the activities beacuse you chose to make them runtime exceptions.
They also don't allow for unknown/incomplete expense items.

Can we add an Unknown setting in these currencies/categories?

[2015-04-01 01:19] vanbelle commented on #69
- [ ] Can't add incomplete expense items when the incomplete fields are currncy/category.

[2015-04-01 04:24] IchigoKIl commented on #68
What is the problem with using a runtime exception? I tried testing this by adding a line to create a new expense item when the login button is clicked, and the app crashes as expected. As for an unknown setting, instead of doing that I will just make it check if the argument is null, if it is then it will skip the check and set the category/currency to null as desired.

[2015-04-01 07:26] qsjiang opened #71 "App crashes when click on "create new user" button"
The app crashed when I clicked on  "create new user" button.

It says  "gps" location provider requires ACCESS_FINE_LOCATION permission.
I checked the manifest file, and we have the correct permission strange...

Could someone please take a look?

Here is the full stack trace.
04-01 07:22:03.469: E/AndroidRuntime(1560): FATAL EXCEPTION: main
04-01 07:22:03.469: E/AndroidRuntime(1560): java.lang.Ru

[2015-04-01 13:28] vanbelle commented on #71
What happens when you run the gps program from the lab? Does that work on your computer?

[2015-04-01 13:30] vanbelle commented on #68
The problem is we don't want the app to crash. We want the exception to be thrown in the activity code so that we can force the user to choose the appropriate setting., and runtime exceptions don't get thrown. They don't give the chance to fix anything, they just crash the program. Our program should never crash.

[2015-04-01 16:12] qsjiang commented on #71
@vanbelle  I only tried on my local machine.

[2015-04-01 17:17] IchigoKIl commented on #68
It won't crash if you put the expenseitem creation in a try catch block. I tested this code in the on click of the login button:
try {
	ExpenseItem expenseItem = new ExpenseItem(null, null, null, "AD", null, null, true);
} catch (Exception e) {
	Toast.makeText(LoginActivity.this, "crash", Toast.LENGTH_SHORT).show();
}

and it shows the toast as expected. However, if you have a different type of ex

[2015-04-01 19:38] #69 closed

[2015-04-01 19:41] vanbelle commented on #68
Ok, it was just causing some problems and at the time I was having trouble figuring out where the error was coming from. The problem was stemming from the fact that we never pass a null value, we were passing "" when it was incomplete, so i had to change that in your code, but everything works now.

[2015-04-01 19:41] #68 closed

[2015-04-01 19:48] #70 closed

[2015-04-02 06:07] qsjiang commented on #67
Please leave username alone.

Username is the single unique ID we have to identify a user object.

Inside the android app, changing username is perfectly fine.  Its a wonderful object oriented world where objects are copied by reference.

but once the data is sterilized into json and uploaded onto the server you loss this memory reference provided by JVM. The only way left for the JSON objects to

[2015-04-02 09:43] qsjiang opened #72 "Elastic search client is ready to go. Time to integrate."
After coding several versions of elastic search client, I end up picking the simplest and most straight forward approach.  This approach leaves all controllers completely untouched, so no need for any major code surgery.

Most of the changes happen inside the login activity. The login activity will need to load the data from elastic search server on startup and show a spinner while loading.

Here

[2015-04-02 15:48] vanbelle commented on #67
ok, lets leave out the extra features then.

[2015-04-02 15:48] #67 closed

[2015-04-02 21:40] vanbelle opened #73 "Still TODO"
- [x] Every method needs a comment with /** **/ so that it appears in the javadoc / Javadoc upload - Sarah
- [x] UML - Leah
- [x] Storyboard  - Leah
- [x] Mockups -Sarah
- [x] Refactoring Write up - Sarah
- [x] Bonus Video - Sarah/Megan
- [x] Power Usage Estimation - Raymond
- [x] Release Plan for future iterations
- [x] Sequence Diagram for one Use Case of a non-trivial scenario - Omar
- [x] Save

[2015-04-03 05:19] #72 closed

[2015-04-03 05:19] #71 closed

[2015-04-03 18:24] vanbelle commented on #73
@LeahGabrielle  @megsum @IchigoKIl @qsjiang
I updated the portion of who has to check what test, I couldnt quite remember who had done what, so if i made a mistake just let me know.

[2015-04-03 18:36] #52 closed

[2015-04-03 18:36] #63 closed

[2015-04-03 21:07] vanbelle commented on #73
@LeahGabrielle @megsum @IchigoKIl @qsjiang

One of the reasons the activity tests werent running was that people werent passing the activity an intent. So i fixed one of the ones i was working, and will push it so that you can see how i passed it along. This should make most of the activity tests pretty easy to fix.

CMPUT301W15T12/ApproverItemActivity/testitemUI()

[2015-04-04 21:38] vanbelle opened #74 "Fatal Login Crash"
I get this error when I try running the app, it looks like a server issue.

04-04 21:36:26.292: E/AndroidRuntime(4204): FATAL EXCEPTION: AsyncTask #1
04-04 21:36:26.292: E/AndroidRuntime(4204): java.lang.RuntimeException: An error occured while executing doInBackground()
04-04 21:36:26.292: E/AndroidRuntime(4204): 	at android.os.AsyncTask$3.done(AsyncTask.java:299)
04-04 21:36:26.292: E/AndroidRun

[2015-04-04 22:34] Pengwin-man opened #75 "Map Not showing up."
Hey guys. I am not sure if this issue has been solved as i could not find anything in the issues, but i took a look at the code and cannot seem to find the error.  could it be that we are using the methods in a way that they are not meant to be used?

On a side note,  I made some updates to the release plan, and was working on refactoring when i got sick.  Not sure how much i can do right now.,

[2015-04-04 22:35] megsum commented on #75
I did make an issue saying I fixed this. All good

[2015-04-04 23:11] #62 closed

[2015-04-04 23:11] #61 closed

[2015-04-04 23:12] LeahGabrielle commented on #75
Did you get any refactoring done? If you did, could you add it to the refactoring wiki page?

[2015-04-05 00:10] vanbelle opened #76 "Weekend Group Meeting"
Would everyone be able to meet for a couple hours on monday to make sure we have everything?

Check your name if you can and edit what times you could be here
- [x] Sarah - Anytime
- [x] Leah - Anytime
- [x] Raymond -
- [ ] Jim -
- [ ] Megan -
- [ ] Omar -

Or Sunday
- [x] Sarah - Anytime
- [x] Leah - 10AM - 5PM
- [x] Raymond -
- [ ] Jim -
- [x] Megan - Until 6:00
- [ ] Omar -

[2015-04-05 00:16] megsum commented on #76
I have Easter dinner on Monday starting at 2:30 :(. The only day I could meet is Sunday

[2015-04-05 00:31] megsum commented on #65
Everything but viewing should work now!

[2015-04-05 03:33] vanbelle commented on #76
Can we tentatively agree to meet around 10 tomorrow? It would be good if we could get everything straightened out so that we can do the video, and the other things that have been waiting on a finished final product.

[2015-04-05 17:58] #65 closed

[2015-04-05 17:58] #22 closed

[2015-04-05 17:58] #53 closed

[2015-04-05 17:59] #60 closed

[2015-04-05 17:59] #75 closed

[2015-04-05 20:06] LeahGabrielle opened #77 "final UML"
Here's (what I hope) the final UML is. Have a look, and if you spot anything that's changed or that I've done wrong, let me know.
![uml-march30](https://cloud.githubusercontent.com/assets/8978512/6998387/0688444e-db9f-11e4-9348-c6a10d3b0810.png)

[2015-04-05 20:39] LeahGabrielle commented on #77
uploading mockup
![storyboard](https://cloud.githubusercontent.com/assets/8978512/6998469/73e0e7ce-dba1-11e4-9ecd-25407646b88e.png)
![storyboard 1](https://cloud.githubusercontent.com/assets/8978512/6998470/7541fdce-dba1-11e4-96b0-f9d7cc1f6ba2.png)
![storyboard 2](https://cloud.githubusercontent.com/assets/8978512/6998471/77e9c00c-dba1-11e4-8acf-de76e6e51680.png)
![storyboard 3](https://cloud.gith

[2015-04-05 21:16] megsum commented on #73
@Pengwin-man please do the Sequence Diagram for one Use Case of a non-trivial scenario. If you want to match it with the story board, do log in, add claim, add item to claim, submit claim for approval. If you have any questions, let us know!

[2015-04-05 21:50] LeahGabrielle opened #78 "Meeting This Tuesday!"
Just a reminder that we're having the regular meeting this Tuesday (April 7). We are going to practice the lab presentation so that we can make all the other groups envy our fantastic presentation skills.

[2015-04-05 23:19] vanbelle commented on #74
@qsjiang when i click the save to server option in the claimlist menu the system crashed

what does the calling:
	//menu item save claim
	public void saveClaim(MenuItem menu) {
		new ESClient().saveRecordToServer();
	}

here is the stack trace

04-05 23:16:17.433: E/AndroidRuntime(9565): FATAL EXCEPTION: main
04-05 23:16:17.433: E/AndroidRuntime(9565): java.lang.RuntimeException: java.lang.reflect

[2015-04-05 23:19] megsum commented on #76
We never had a meeting :(

[2015-04-05 23:19] #76 closed

[2015-04-05 23:19] megsum commented on #26
It's Fixed :D

[2015-04-05 23:19] #26 closed

[2015-04-05 23:56] qsjiang commented on #74
04-05 23:16:17.433: E/AndroidRuntime(9565): Caused by: android.os.NetworkOnMainThreadException

the problem is self explanatory.   Just do it like I showed you in my previous issues.

new LoadingOnlineRecordTask().execute();   //put this inside oncreate
turnOnSpinner();  //fake pseudo code

//AsyncTask For loading records from Elastic Server
private class LoadingOnlineRecordTask extends AsyncTask<

[2015-04-06 00:24] IchigoKIl commented on #78
I'm sorry to say this but I will be in Calgary on that day, and won't be able to make it to the meeting. I can ask Omar to fill me in on Wednesday.

[2015-04-06 00:27] IchigoKIl opened #79 "Implementing string arrays in resource file"
I believe I have a working solution, but am unable to set the gps on the emulator to create an account to login and test it. Can someone tell me a account that's already set up?

[2015-04-06 05:11] vanbelle commented on #79
If you look at the esclient page there is a url to a website where you should be able to see everything that's saved.

[2015-04-06 06:54] Pengwin-man commented on #78
yeah. ill be at the meeting on Tuesday. Ill fill him in and let him know how the presentation is going to go afterwards.

[2015-04-06 06:57] Pengwin-man opened #80 "Refactoring the code."
I was doing some re-factoring, and noticed that unless we want a class for EVERY attribute in our Data models, i do not think it necessary to do any more.  the code is fine the way it is.  The refactorings offered by JDeodorant are only useful if we had to manipulate the data in the attributes with methods other than getters and setters.

[2015-04-06 19:40] megsum commented on #80
Hey! So the refactoring that you did do, can you put it on the wiki page?

[2015-04-06 20:08] vanbelle commented on #73
Can someone else check to make sure they can see the Video Link? It works for me, but since its on my account that doesnt necessarily mean everyone can view it.

[2015-04-06 20:14] vanbelle commented on #80
Yeah, I need to do the write up today or tomorrow so it would be helpful to know what was changed so that I could add that in there.

[2015-04-06 20:42] Pengwin-man commented on #73
@vanbelle : I can see the video just fine

[2015-04-06 20:46] Pengwin-man commented on #73
@megsum i can do log-in, add claim and add item to claim.  where do you want me to submit them?

[2015-04-06 20:56] vanbelle commented on #73
In the wiki should be fine

[2015-04-06 21:55] LeahGabrielle commented on #78
:+1:

[2015-04-06 22:18] LeahGabrielle commented on #77
new storyboard
![storyboard-2 12](https://cloud.githubusercontent.com/assets/8978512/7013640/77d8a434-dc78-11e4-82b1-f65a4139d193.png)
![storyboard-2 13](https://cloud.githubusercontent.com/assets/8978512/7013646/795cd816-dc78-11e4-8c17-177ddf752488.png)
![storyboard-2 14](https://cloud.githubusercontent.com/assets/8978512/7013650/80af328a-dc78-11e4-96c7-058ce39d0891.png)
![storyboard-2 15](https:

[2015-04-06 23:02] vanbelle commented on #77
These storyboards look really great! :+1:

[2015-04-06 23:37] IchigoKIl commented on #79
I have just tested it and it is working correctly. Is AddItemActivity the only activity that uses the category and currencies spinner?

[2015-04-06 23:51] IchigoKIl opened #81 "Question about saving"
How do I save my progress on the app? When I create a new account and submit a new claim, and then close the app my account is gone... What should I be doing to save?

[2015-04-07 00:13] Pengwin-man commented on #73
do you want me to make a new category for the sequence diagrams?

[2015-04-07 01:19] IchigoKIl opened #82 "Power Use Estimation"
This section of the assignment asks to estimate the power use of the app using green advisor, but from what I've seen the report shows the percentage change in the number of calls of significant system calls between two commits. Does anyone understand what should be done for this section of the assignment?

[2015-04-07 01:19] LeahGabrielle commented on #73
@Pengwin-man You could either make a new page, or put it with the UML I would say.

[2015-04-07 02:07] LeahGabrielle commented on #82
There was something about this on eclass. "You should just pick two commits and compare them using the tool." So just pick two commits and run it, then describe it on the wiki it sounds like.
**Power Use Estimation:**  Try to estimate the power use of your application using the green advisor tool provided in the labs. Describe the output of the tool 1 reasonable paragraph provided on the wiki. The

[2015-04-07 03:12] qsjiang commented on #81
@vanbelle will be implementing a "saving to server" button inside the top right menu.

Not saving records automatically is a design decision we made for minimizing the impact on existing api.

[2015-04-07 03:44] vanbelle commented on #79
Yes

[2015-04-07 04:41] LeahGabrielle opened #83 "Editing tags on a submitted expense"
Do we have anything in place to edit tags of a claim when its status is submitted?
[US07.01.01] -  As a claimant, I want to submit an expense claim for approval, denoting the claim status as submitted, with no further changes allowed by me to the claim information **(except the tags).**
Or have we chosen to not do this? I know it's probably a bit late to implement it now if it is not already there

[2015-04-07 06:10] Pengwin-man commented on #81
when was this decision made? i think it is a bad decision.  its too late to change it now, but given the scope of the app, one would think that an account creation is saved once you click create account.

[2015-04-07 07:05] qsjiang commented on #81
Hi @Pengwin-man The decision was made on Thursday when you missed the lab meeting.

" one would think that an account creation is saved once you click create account."
I think so as well. Technically any add/change to model should be saved to the server right away.

In fact the first version of the ESClient I wrote does exactly that, but the code that communicate with the server are internet calls

[2015-04-07 09:23] qsjiang opened #84 "Integrated online photo saving"
Hi @megsum,

I just integrated the photo saving, so far it works fine, but there are quite a lot of stuffs going on inside additemActivity class. I figured it's best to ask the original author to take a look.

Here is the commit with all the related changes
fbe692fe07195d8b7864bfe3796096cc0839a076

I am free tomorrow after 1pm. If you have time we should meet and go over the changes.

[2015-04-07 09:25] megsum commented on #84
Okay sounds good! I will look at it now!

[2015-04-07 09:27] qsjiang commented on #84
@megsum cool

[2015-04-07 09:29] megsum commented on #84
@qsjiang  I am not too sure how the client stuff works, but it looks like you changed where it needs to be changed! From what I can see it makes a temporary location that stores the photo and then uploads it to the server from there. If so it looks good!

[2015-04-07 10:09] qsjiang commented on #84
ya. The previous Uri saved inside expenseItem was just a local file pointer.
Now it's a relative path on the elastic server.
The temp uri is just a temp location for saving the output from the camera app.

[2015-04-07 14:55] vanbelle commented on #83
I will add a menu item to the claim menu if i have time today, it shouldnt be too hard to fix.

[2015-04-07 15:03] vanbelle commented on #81
This has been implemented and pushed, but I only added it so far in the claimlist menu, if we want it elsewhere let me know and we can create some other menu items.

[2015-04-07 15:10] vanbelle commented on #84
I'm getting an error in the one of the photo tests now, don't forget to update that so it works in the tests too.

[2015-04-07 15:10] #74 closed

[2015-04-07 15:38] vanbelle commented on #83
This should be working now

[2015-04-07 15:38] #83 closed

[2015-04-07 15:41] vanbelle commented on #83
also added a text view to see the tags on the claim page

[2015-04-07 16:09] vanbelle opened #85 "Java Doc Comments"
The following classes/methods still need java doc comments. If they are yours please fill them in!
- [x] AddItemActivity - private class LoadingPictureTask
- [x] AddItemActivity - private class SavingPictureTask
- [x] ApproverItemActivity - private class LoadingPictureTask
- [x] ChooseListActivity - private class LoadingOnlineRecordTask
- [x] ESClient - all the methods
- [x] Claimlist - public voi

[2015-04-07 17:32] megsum commented on #84
I haven't done the photo tests yet so it is all good. (Except that the photo tests aren't done yet) :(

[2015-04-07 19:00] #77 closed

[2015-04-07 19:20] LeahGabrielle commented on #77
test
![uml-march30-fix](https://cloud.githubusercontent.com/assets/8978512/7031442/d124b1e4-dd28-11e4-9075-93727c934f40.png)

[2015-04-07 20:07] #85 closed

[2015-04-07 20:08] #84 closed

[2015-04-07 20:08] #81 closed

[2015-04-07 20:16] LeahGabrielle commented on #78
So we can meet at 4 since Raymond won't be here if that works for everyone, unless someone else had something at 4. I've booked csc 3-26 for half an hour at 4. @Pengwin-man @qsjiang @megsum @vanbelle @IchigoKIl

[2015-04-07 20:26] #80 closed

[2015-04-07 20:26] #79 closed

[2015-04-07 21:04] Pengwin-man commented on #78
4 sounds great.  That way we can go. Home early
On Apr 7, 2015 2:17 PM, "LeahGabrielle" <notifications@github.com> wrote:

[2015-04-07 21:46] #73 closed

[2015-04-07 21:46] LeahGabrielle commented on #78
Sorry Omar, Jim said he couldn't meet until 5. One last 5 o'clock meeting

[2015-04-07 21:47] Pengwin-man commented on #78
Cool
On Apr 7, 2015 3:46 PM, "LeahGabrielle" <notifications@github.com> wrote:

[2015-04-07 21:49] #66 closed

[2015-04-07 21:49] #82 closed

[2015-04-08 04:35] megsum opened #86 "Demo Video"
Hey Guys!

I finished the demo video!
https://youtu.be/tn55ux5jiOQ
Here is the link. Take a look and tell me if there is anything you want to change.

[2015-04-08 04:52] #78 closed

[2015-04-09 00:09] LeahGabrielle commented on #86
I think it looks good

[2015-04-09 00:20] ViIIager opened #87 "thursday presentation"
Hey guys. as you know i have been sick. i am losing my voice and dont think i will be able to do the narration for the presentation tomorrow. please get someone to cover the narration part. i will answer questions at the end.

[2015-04-09 19:25] megsum opened #88 "Where are you meeting?"
Hey so m phone won't turn on because there is something wrong with the power button. I've looked all over for you guys, where are you?

[2015-04-09 19:31] LeahGabrielle commented on #88
We are in sub basement

[2015-04-09 20:37] megsum commented on #88
Found you:)

[2015-04-09 20:37] #88 closed, assigned to nobody

[2015-04-09 20:37] #87 closed, assigned to nobody

[2015-04-09 20:37] #86 closed